[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
deepl = "*"
fasttext-langdetect = "*"
streamlit-chat = "*"
wget = "*"

[dev-packages]

[requires]
python_version = "3.8"
