[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
deepl = "*"
fasttext-langdetect = "*"
streamlit-chat = "*"
wget = "*"
requests = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
